
<%
  var menus = [
    ["Welcome", "Home"],
    ["About Us", About Us"],
    ["Contact Us", "Contact"]
  ];
%>

<footer>

  <nav class="visually-hidden">
    <ul>
      <%_ menus.forEach( menu => { _%>
        <%_ if (menu[0] == pageTitle) { _%>
          <li class="nav-menus-item__footer">
            <span class="visually-hidden">Current: </span>
            <span class="nav-menus-text__footer"><%= menu[2] %></span>
          </li>
        <%_ } else { _%>
          <li class="nav-menus-item__footer"><a href="<%= route %>"><%= menu[1] %></a></li>
        <%_ } _%>
      <%_ }); _%>
    </ul>
  </nav>
</footer>
